### Random tips and tricks for effective Data Science in Python
<p style="color:magenta">@thesagaciousfool</p>

In [3]:
#Handy Operator Overloading (Polymorphism) in Python
print("hey there! " * 4)

hey there! hey there! hey there! hey there!

In [4]:
#####Data Types####
# Text Type:	str
# Numeric Types:	int, float, complex
# Sequence Types:	list, tuple, range
# Mapping Type:	dict
# Set Types:	set, frozenset
# Boolean Type:	bool
# Binary Types:	bytes, bytearray, memoryview

#Get the type by using type(variable_name)

In [5]:
type(this_integer)

int

In [ ]:
#swap variables and relationship with tuples

In [10]:
#help(function_name)

In [12]:
import numpy as np

In [13]:
help(np.eye)

Help on function eye in module numpy:

eye(N, M=None, k=0, dtype=<class 'float'>, order='C')
    Return a 2-D array with ones on the diagonal and zeros elsewhere.

    Parameters
    ----------
    N : int
      Number of rows in the output.
    M : int, optional
      Number of columns in the output. If None, defaults to `N`.
    k : int, optional
      Index of the diagonal: 0 (the default) refers to the main diagonal,
      a positive value refers to an upper diagonal, and a negative value
      to a lower diagonal.
    dtype : data-type, optional
      Data-type of the returned array.
    order : {'C', 'F'}, optional
        Whether the output should be stored in row-major (C-style) or
        column-major (Fortran-style) order in memory.

        .. versionadded:: 1.14.0

    Returns
    -------
    I : ndarray of shape (N,M)
      An array where all elements are equal to zero, except for the `k`-th
      diagonal, whose values are equal to one.

    See Also
    --------
    identity : (almost) equivalent function
    diag : diagonal 2-D array from a 1-D array specified by the user.

    Examples
    --------
    >>> np.eye(2, dtype=int)
    array([[1, 0],
           [0, 1]])
    >>> np.eye(3, k=1)
    array([[0.,  1.,  0.],
           [0.,  0.,  1.],
           [0.,  0.,  0.]])

In [14]:
#default sep in print() is " "
print(1, 2, 3, sep=' < ')

1 < 2 < 3

In [27]:
#Lists are mutable and tuples are not

5

In [31]:
list1 = [1,2,3] #help(list1)
tuple1 = (1,2,3)

In [35]:
x = 5
y = 10

In [49]:
names = ['Alice','Bob','Chandler','Darcy','Eupy','Fox']

In [51]:
names.index('Alice')

0